<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="TestNG Automation framework">
  <test name="TestNG features" >
    <classes>
       <class name="com.test.ExceptionTimeoutTest" />
       <class name="com.test.GoogleTest" />
       <class name="com.test.GoogleTitleTest" />
       <class name="com.test.InvocationCountTest" />
       <class name="com.test.TestNGBasics" />
       <class name="com.test.TestNGFeatures" />
    </classes>
  </test>
</suite>